<section>
    <div class="card">
        <h3 class="title">Edit Book</h3>
        <form>
            <div class="input">
                <div class="txt">ID</div>
                <input disabled [(ngModel)]="book.id" name="id">
            </div>
            <div class="input">
                <div class="txt">Title</div>
                <input [(ngModel)]="book.title" name="title">
            </div>
            <div class="input">
                <div class="txt">Author</div>
                <input [(ngModel)]="book.author" name="author">
            </div>
            <div class="input">
                <div class="txt">Company</div>
                <input [(ngModel)]="book.company" name="company">
            </div>
            <div class="input">
                <div class="txt">Release</div>
                <input [(ngModel)]="book.release" name="release">
            </div>
            <div class="input">
                <div class="txt">Type</div>
                <input [(ngModel)]="book.isEbook" name="isEbook">
            </div>
            <div class="input">
                <div class="txt">Local</div>
                <input [(ngModel)]="book.location" name="location">
            </div>
        </form>
        <div class="buttons">
            <button (click)="updateBook()">Update</button>
            <button id="btnCancel" (click)="cancel()">Cancel</button>
        </div>
    </div>
</section>