section {
    width: 100vw;
    height: 85vh;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #eee;
}

.card {
    padding: 20px 40px;
    max-width: 600px;
    border-radius: 20px;
    background-color: rgb(31, 31, 31);
    box-shadow: 10px 10px 13px -8px rgb(255, 255, 255);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 32px;
    padding: 10px;
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;

    max-width: 500px;
    width: 400px;
}

form .input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;  
}

form .input .txt {
    width: 55px;
    font-weight: 600;
}

form input {
    background-color: rgb(255, 255, 255);
    padding: 8px;
    font-weight: 500;
    font-size: 16px;
    width: 75%;
}

.buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

button {
    min-width: 125px;
    margin: 0 10px;
    padding: 10px 0px;
    color: #eee;
    font-weight: 700;
    border: none;
    border-radius: 7px;
    transition: 100ms;
    background-color: rgb(210, 0, 0);
}

button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#btnCancel {
    background-color: #eee;
    color: black;
}